<%= render 'layouts/errors', obj: plan %>

<%= form_with model: plan do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "内容" %><br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :date_time, "日時" %><br>
    <%= f.datetime_select :date_time %>
  </div>

  <div>
    <%= f.submit submit, class: "mt-2 btn btn-primary" %>
  </div>
<% end %>