<%= render 'layouts/errors', obj: @plan %>

<%= form_with model: @plan do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :date_time %>
    <%= f.datetime_select :date_time %>
  </div>

  <div>
    <%= f.submit "submit" %>
  </div>
<% end %>