<div>
  <p>タイトル</p>
  <p><%= @plan.title %></p>
  
  <p>内容</p>
  <p><%= @plan.body %></p>
  
  <p>日時</p>
  <p><%= @plan.date_time.strftime("%m-%d") %></p>
  
  <%= link_to "編集", edit_plan_path(@plan) %>
  <%= link_to "予定一覧に戻る", plans_path %>
</div>